@import url("assets/styles/font.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: #e2e7eb;
    --primary: #0098ea;
    --secondary: 210 40% 96.1%;
  }
}

@layer base {
  * {
    @apply border-border;
    font-family: "Proxima Nova Font";
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}
@layer components {
  .hex-button {
    @apply w-full bg-[#0098ea] py-4 px-4 h-[56px] border-2 border-[#00558d] rounded-full shadow-custom transition-all   cursor-pointer flex items-center justify-center;
    font-family: inherit;
  }

  .hex-button:hover {
    @apply translate-x-[-0.05em] translate-y-[-0.05em] shadow-md;
  }

  .hex-button:active {
    @apply translate-x-[0.05em] translate-y-[0.05em] shadow-sm;
  }

}
