.custom-input-color input[name="hex"] {
  width: 80px !important;
}

.custom-input-color input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.custom-input-color> :nth-child(2)> :nth-child(2) div {
  border-radius: 999px !important;
  height: 12px !important;
}

.custom-input-color> :nth-child(2)> :nth-child(2) div div div {
  width: 16px !important;
  height: 16px !important;
}